<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Relocation Assistant</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheet.css">

</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <i class="fas fa-truck-moving"></i> 
          <span>Relocation Assistant</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not g.user %}
        <li class='nav-item'><a class="nav-link" href="/register">Create Account</a></li>
        <li class='nav-item'><a class='nav-link' href="/login">Log in</a></li>
        {% else %}
        <li class='nav-item'>
          <a class='nav-link' href="/users/{{ g.user.id }}">
            <i class="far fa-user"></i>
            {{ g.user.username }}
          </a>
        </li>
        <li class='nav-item'><a class='nav-link' href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

  
    {% block content %}
    {% endblock %}
  </div>
  
  {% if not g.user %}
  <div>
      <p class="lead text-white text-center mt-5">
          <a href='/register' class='text-decoration-none text-white'>Create an account</a>
          or <a href='/login' class='text-decoration-none text-white'>log in</a>
          to save your favorite cities!
      </p>
  </div> 
  {% endif %}


  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>

</html>