{% extends 'base.html' %}

{% block content %}

<p class="lead text-white text-center display-5 my-5">
    Edit your information.
</p>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <form method="POST" id="user-edit-form">
            {{ form.hidden_tag() }}

            {{form.email.label}}
            {{form.email(class='form-control', value=user.email)}}
            {{form.city.label}}
            {{form.city(class='form-control', value=user_city)}}
            {{form.state.label}}
            {{form.state(class='form-select')}}
            {{form.new_pw.label}}
            {{form.new_pw(class='form-control')}}

            <p class='text-white mt-3'>To confirm changes, enter your current password:</p>
                {% if form.old_pw.errors %}
                    {% for error in form.old_password.errors %}
                     <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {% endif %}
                {{ form.old_pw(placeholder="Enter current password", class="form-control mb-3") }}

            <div class="edit-btn-area">
                <button class="btn btn-dark btn-lg">Change it!</button>
                <a href="/users/{{user.id}}" class="btn btn-sm btn-danger ms-5 me-2">Cancel</a>
                <a href="/users/{{user.id}}/delete" class="btn btn-sm btn-secondary">Delete account</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}